# services/restaurant/.env.example
MONGO_URI=
DB_NAME=Zomato_Clone
JWT_SEC=
PORT=5001
UTILS_SERVICE=http://localhost:5002
REALTIME_SERVICE=http://localhost:5004
RIDER_SERVICE=http://localhost:5005
RABBITMQ_URL=amqp://localhost
PAYMENT_QUEUE=payment_queue
ORDER_READY_QUEUE=order_ready_queue
RIDER_QUEUE=rider_queue
INTERNAL_SERVICE_KEY=
INTERNAL_SECRET=
CLOUD_NAME             = your cloudinary cloud name
CLOUD_API_KEY          = your cloudinary api key
CLOUD_SECRET_KEY       = your cloudinary api secret
RAZORPAY_KEY_ID        = rzp_test_xxx
RAZORPAY_KEY_SECRET    = your razorpay secret
STRIPE_SECRET_KEY      = sk_test_xxx
FRONTEND_URL           = https://placeholder.vercel.app