MONGO_URI=
DB_NAME=OrderSync
JWT_SEC=
PORT=5005
RESTAURANT_SERVICE=http://localhost:5001
UTILS_SERVICE=http://localhost:5002
REALTIME_SERVICE=http://localhost:5004
RIDER_SERVICE=http://localhost:5005
RABBITMQ_URL=amqp://localhost
ORDER_READY_QUEUE=order_ready_queue
INTERNAL_SERVICE_KEY=
INTERNAL_SECRET=